<div class="boxes">
    <div class="g-top-page">
        <h1 class="g-h1-title"
            translate>BREADCRUMB.BOXES</h1>
        <app-panel-control>
            <ng-container right>
                <button (click)="addBox()"
                        class="g-btn-small"
                        translate>BOXES.ADD_BOX
                </button>
            </ng-container>
        </app-panel-control>
    </div>

    <div class="wrapper">
        <div class="content">
            <ng-container *ngIf="boxesService.boxes?.length; else emptyPlaceholder">
                <app-tile (onDelete)="deleteBox($event)"
                          *ngFor="let box of boxesService.boxes"
                          [box]="box"></app-tile>
            </ng-container>

            <ng-template #emptyPlaceholder>
                <span class="g-empty-placeholder"
                      translate>BOXES.EMPTY</span>
            </ng-template>
        </div>
    </div>

</div>

<app-confirm-modal></app-confirm-modal>