@import "src/styles/variables";

.new-option {
    display: grid;
    grid-template-columns: auto 1fr;
}

.edited {
    grid-template-columns: 1fr repeat(2, auto);
}

.checkbox-btn {
    $size: 1.125rem;
    width: $size;
    height: $size;
}

.input-field {
    width: 100%;
}

.option-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $option-item-height;
    width: $option-item-height;
    padding: 0;
    border-radius: 0;
    font-size: $mat-icon-size;
}

.label-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: $string-padding;
}

.option-btn-label {
    cursor: pointer;
}

.option-icon {
    width: 100%;
    //height: 100%;
    font-size: $mat-icon-size;
}

.error-list {
    padding-top: $content-side-padding / 2;
}

.error {
    line-height: 1;
}
