<div class="new-option"
     [ngClass]="{'edited': edited}">

    <label *ngIf="edited">
        <input type="text"
               class="input-field"
               (keydown)="keypressFinishCreation($event)"
               #inputField>
    </label>


    <ng-container *ngIf="!edited; else edit">
        <button id="addOption"
                class="option-btn g-btn"
                (click)="startCreation()"
                (keydown)="keypressStartCreation($event)">
            <span class="material-icons option-icon">
                add
            </span>
        </button>
        <span class="label-wrap">
            <label for="addOption"
                   class="option-btn-label"
                   translate>MAIN.ADD</label>
            </span>
    </ng-container>

    <ng-template #edit>
        <button class="option-btn g-btn-success"
                (click)="finishCreation()"
                (keydown)="keypressFinishCreation($event)">
            <span class="material-icons option-icon">
                check
            </span>
        </button>
        <button class="option-btn g-btn-error"
                (click)="cancelCreation()"
                (keydown)="keypressCancelCreation($event)">
            <span class="material-icons option-icon">
                close
            </span>
        </button>
    </ng-template>

</div>