<div class="new-option"
     [ngClass]="{'edited': edited}">

    <label *ngIf="edited">
        <input type="text"
               class="input-field"
               [(ngModel)]="optionValue"
               (keydown)="keypressFinishCreation($event)"
               #inputField>
    </label>

    <!--CREATE-->
    <ng-container *ngIf="!edited; else edit">
        <button id="addOption"
                class="option-btn g-btn"
                (click)="startCreation()"
                (keydown)="keypressStartCreation($event)">
            <span class="material-icons option-icon">
                add
            </span>
        </button>
        <span class="label-wrap">
            <label for="addOption"
                   class="option-btn-label"
                   translate>MAIN.ADD</label>
            </span>
    </ng-container>

    <ng-template #edit>
        <!--SAVE-->
        <button class="option-btn g-btn-success"
                (click)="finishCreation()"
                (keydown)="keypressFinishCreation($event)" [disabled]="!optionValue?.length">
            <span class="material-icons option-icon">
                check
            </span>
        </button>
        <!--CANCEL-->
        <button class="option-btn g-btn-error"
                (click)="cancelCreation()"
                (keydown)="keypressCancelCreation($event)">
            <span class="material-icons option-icon">
                close
            </span>
        </button>
    </ng-template>

</div>
<div *ngIf="errorMessages?.length" class="error-list">
    <div *ngFor="let error of errorMessages" class="error">
        <small class="g-form-error"
               translate>{{error}}</small>
    </div>
</div>