@import "../../../styles/variables";

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $footer-height;
    background: var(--color-app_bg);
    width: 100%;
}
