@import "../../../styles/variables";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: $headerHeight;
    padding-left: 88px;
    padding-right: $contentSidePadding;
    background: var(--color-app_bg);
}

.user-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    $icon-size: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $icon-size;
    height: $icon-size;
    margin-right: 0.5rem;
    border-radius: 50%;
    overflow: hidden;
    
    img {
        width: 100%;
        height: 100%;
    }
}

.icon-mock {
    @extend .icon;
    //font-size: 50px;
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-app_bg);
    background: var(--color-app_bg-bg);
}

.name {
    font-size: 1.1rem;
    color: var(--color-current-30);
}

.app-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    $logo-size: 35px;
    position: relative;
    width: $logo-size;
    height: $logo-size;
    margin-right: 0.25rem;
    border-radius: 50%;
    background: var(--color-current-80);
    border: 2px solid var(--color-current-40);
    overflow: hidden;
}

.line {
    position: absolute;
    top: 12px;
    left: 6px;
    width: 19px;
    height: 6px;
    background: var(--color-red-70);

    &--vert {
        transform: rotate(90deg);
    }
}

.title {
    line-height: 1.2;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-current-40);
    border-bottom: 2px solid;
}