<header class="header">
	<div class="user-data">
		<div class="icon" *ngIf="true; else iconMock">
			<img src="../../../assets/img/ava.jpg" alt="">
		</div>
		<ng-template #iconMock>
			<div class="icon-mock">П</div><!--calculate mock content from firs letters-->
		</ng-template>
		<div class="name">Пользователь</div>
	</div>
	<div class="app-data">
		<div class="logo">
			<div class="line"></div>
			<div class="line line--vert"></div>
		</div>
		<div class="title">APTHECHKA</div>
	</div>
</header>
