<div class="radio-option"
     [ngClass]="{'can-add': canAdd, 'can-edit': canEdit}">

    <!--selection-->
    <label class="radio-label g-btn-success"
           *ngIf="canAdd">
        <input type="radio"
               id="radio{{id}}"
               class="radio-btn"
               [checked]="checked"
               (click)="toggle($event)">
    </label>

    <!--text field-->
    <label *ngIf='editedNow; else justSpan'>
        <input type="text"
               class="input-field"
               [disabled]="!editedNow"
               [value]="optionValue"
               (keydown)="keypressSave($event)"
               #inputField>
    </label>
    <ng-template #justSpan>
        <label for="radio{{id}}" class="text-field" [class.text-field--disabled]="canEdit">
            {{optionValue}}
        </label>
    </ng-template>

    <ng-container *ngIf="canEdit && !editedNow">
        <button class="action-btn g-btn-success"
                (click)="edit()"
                (keydown)="keypressEdit($event)">
            <span class="material-icons option-icon">
                edit
            </span>
        </button>
        <button class="action-btn g-btn-error"
                (click)="delete()"
                (keydown)="keypressDelete($event)">
            <span class="material-icons option-icon">
                delete
            </span>
        </button>
    </ng-container>

    <ng-container *ngIf="editedNow">
        <button class="action-btn g-btn-success"
                (click)="save()"
                (keydown)="keypressSave($event)">
            <span class="material-icons option-icon">
                check
            </span>
        </button>
        <button class="action-btn g-btn-error"
                (click)="cancel()"
                (keydown)="keypressCancel($event)">
            <span class="material-icons option-icon">
                close
            </span>
        </button>
    </ng-container>
</div>
