<ng-container *ngIf="!menuService.hideMenu">
    <button (click)="toggle()"
            class="menu-btn">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button>

    <ng-container *ngIf="menuService.opened">
        <div class="menu-bg"
             [@toggleMenuBg]="menuBgAnimationState"
             (click)="close()"
             *ngIf="menuService.opened"></div>
        <div class="menu"
             [@toggleMenu]="menuAnimationState"
             [ngStyle]="{'background': bgColor}">
            <ng-content></ng-content>
            <ng-content select="[slot=another]"></ng-content>
        </div>
    </ng-container>
</ng-container>