<div class="dashboard">
    <div class="g-top-page">
        <h1 class="g-h1-title"
            translate>BREADCRUMB.DASHBOARD</h1>
        <app-panel-control>
            <ng-container right>
                <button (click)="addBox()"
                        class="g-btn-small" translate>DASHBOARD.ADD_BOX
                </button>
            </ng-container>
        </app-panel-control>
    </div>

    <div class="content">
        <ng-container *ngIf="boxesService.boxes?.length; else emptyPlaceholder">
            <app-tile (onDelete)="deleteBox($event)"
                      *ngFor="let box of boxesService.boxes"
                      [box]="box"></app-tile>
        </ng-container>

        <ng-template #emptyPlaceholder>
            <span class="g-empty-placeholder" translate>DASHBOARD.EMPTY_PLACEHOLDER</span>
        </ng-template>
    </div>


</div>
