@import 'src/styles/variables';

.alert-wrap {
    position: fixed;
    top: $header-height;
    left: 0;
    width: 100%;
}

.alert {
    padding: 0.7rem;
    opacity: 0.9;
    background: var(--color-app_success);
    box-shadow: 0 0 9px 0 var(--color-current-30);
    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: $border-radius;
}

.alert-success {
    background: var(--color-app_success);
    color: var(--color-white);
}

.alert-warning {
    background: var(--color-app_warning);
    color: var(--color-white);
}

.alert-danger {
    background: var(--color-app_danger);
    color: var(--color-white);
}
