<div class="modal__wrap" *ngIf="modalService.showModal">

    <div class="modal">
        <button class="modal__close-btn" (click)="modalService.close()">
            <span class="material-icons modal__icon">
                close
            </span>
        </button>

        <div class="modal__body">
            <div class="modal__header">

                <ng-content select="[modal-header]"></ng-content>
            </div>
            <div class="modal__content">
                <ng-content select="[modal-body]"></ng-content>
            </div>
            <div class="modal__footer">
                <ng-content select="[modal-footer]"></ng-content>
            </div>
        </div>
    </div>
</div>
