@import "../app/modules/themes/themes";


:root {

    /*app palette*/

    //title and text
    --color-app_title: var(--color-current-30);
    --color-app_text: var(--color-current-20);
    --color-app_text-small: var(--color-gray);

    //link
    --color-app_link: var(--color-current-20);
    --color-app_link-hover: var(--color-current-20);
    --color-app_link-focus: var(--color-current-20);
    --color-app_link-active: var(--color-current-20);

    //bg
    --color-app_bg-dark: var(--color-current-40);
    --color-app_bg: var(--color-current);
    --color-app_bg-bg: var(--color-current-95);

    //states
    --color-app_hover-bg: var(--color-current-20);
    --color-app_hover-border: var(--color-current-20);
    --color-app_focus-bg: var(--color-current-20);
    --color-app_focus-border: var(--color-current-20);
    --color-app_active-bg: var(--color-current-20);
    --color-app_active-border: var(--color-current-20);
    --color-app_disabled-bg: var(--color-current-20);
    --color-app_disabled-border: var(--color-current-20);


}
