@import "variables";

.g-form-section {
    display: grid;
    //grid-template-columns: minmax($cell-width, auto) 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(min(1), auto);
    margin-bottom: 20px;

    label {
        margin-right: 8px;
    }
}

input {

}