@import "variables";

.g-layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    padding: $contentSidePadding+px;
    background: var(--color-app_bg-bg);
}

.g-h1-title {
    border-bottom: 2px solid var(--color-app_title);
    margin: 10px 0 20px;
}

.g-h2-title {
    margin: 10px 0 5px;
}

.g-link {
    color: var(--color-blue);

    &:hover, &:focus {
        color: var(--color-blue-30);
        text-decoration: underline;
    }

    &:active {
        color: var(--color-blue-70);
    }
}