@import "variables";

.g-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - #{$headerHeight} - #{$footerHeight});
    padding: $contentSidePadding;
    background: var(--color-app_bg-bg);
}

.g-h1-title {
    border-bottom: 2px solid var(--color-app_title);
    margin: 10px 0 20px;
}

.g-h2-title {
    margin: 10px 0 5px;
}

.g-link {
    color: var(--color-blue);

    &:hover, &:focus {
        color: var(--color-blue-30);
        text-decoration: underline;
    }

    &:active {
        color: var(--color-blue-70);
    }
}