@import "variables";

.g-layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    padding: $content-side-padding;
    background: var(--color-app_bg-bg);
}

.g-top-page {
    margin: 10px 0 20px;
}
