/*COMMON*/
$content-side-padding: 20px; //main padding for containers
$string-padding: 8px; //main padding for content
$border-radius: 3px;
$container-width: 1200px;
$container-edit-width: $container-width / 2; //width of container in editable pages
$input-padding: 8px; //padding of elements in form

//font
$default-font: 'Roboto', sans-serif;
$line-height-default: 1.2;

/*COMPONENTS*/
//header
$header-height: 60px;

//footer
$footer-height: $header-height;

//menu
$menu-width: 300px;
$menu-index: 1000;
$menu-side-padding: $content-side-padding;

//panel-control {
$panel-control-height: 50px;

//table
$min-table-width: 968px;

//icons
$mat-icon-size: 22px;

//option-item
$option-item-height: 22px + $input-padding * 2; //32

/*ADAPTIVITY*/
//minimal grid structure item
$cell-width: 264px;
$cell-width-max: 320px;
$cell-padding: $content-side-padding;

//871
$max-2: ($cell-width * 3) + ($content-side-padding * 2) + ($cell-padding * 2);
//872
$min-3: $max-2 + 1;

//587
$max-1: ($cell-width * 2) + ($content-side-padding * 1) + ($cell-padding * 2);
//588
$min-2: $max-1 + 1;
