:root {

    /*colors*/
    --color-black: hsl(0, 0%, 0%);

    //gray
    --color-gray-10: hsl(0, 0%, 10%);
    --color-gray-20: hsl(0, 0%, 20%);
    --color-gray-30: hsl(0, 0%, 30%);
    --color-gray-40: hsl(0, 0%, 40%);
    --color-gray: hsl(0, 0%, 50%);
    --color-gray-60: hsl(0, 0%, 60%);
    --color-gray-70: hsl(0, 0%, 70%);
    --color-gray-80: hsl(0, 0%, 80%);
    --color-gray-90: hsl(0, 0%, 90%);
    --color-gray-100: hsl(0, 0%, 100%);

    --color-white: hsl(0, 0%, 100%);


    /*palette*/

    //hue
    --red-hue: 360;
    --green-hue: 85;
    --blue-hue: 240;
    --yellow-hue: 60;
    --current-hue: var(--green-hue);

    //saturation
    --saturation-10: 10%;
    --saturation-20: 20%;
    --saturation-30: 30%;
    --saturation-40: 40%;
    --saturation-50: 50%;
    --saturation-60: 60%;
    --current-saturation: var(--saturation-50);

    //color current
    --color-current-10: hsl(var(--current-hue), var(--current-saturation), 10%);
    --color-current-20: hsl(var(--current-hue), var(--current-saturation), 20%);
    --color-current-30: hsl(var(--current-hue), var(--current-saturation), 30%);
    --color-current-40: hsl(var(--current-hue), var(--current-saturation), 40%);
    --color-current: hsl(var(--current-hue), var(--current-saturation), 50%);
    --color-current-60: hsl(var(--current-hue), var(--current-saturation), 60%);
    --color-current-70: hsl(var(--current-hue), var(--current-saturation), 70%);
    --color-current-80: hsl(var(--current-hue), var(--current-saturation), 80%);
    --color-current-and40-88: hsl(var(--current-hue), var(--current-saturation + 40), 88%);
    --color-current-95: hsl(var(--current-hue), var(--current-saturation), 95%);
}
