<div class="new-box">
    <div class="g-top-page">
        <h1 class="g-h1-title"
            translate>NEW_BOX.DEFAULT_TITLE</h1>

        <app-panel-control>
            <ng-container left>
                <button class="g-btn-small g-btn-success"
                        type="button"
                        (click)="saveBox()"
                        translate>MAIN.ADD
                </button>
            </ng-container>
            <ng-container right>
                <button (click)="cancelAdding()"
                        class="g-btn-small g-btn-error"
                        translate>NEW_COMMON.CANCEL_ADDING
                </button>
            </ng-container>
        </app-panel-control>
    </div>
    <div class="wrapper">
        <div class="content">

            <form [formGroup]="form">

                <!--TITLE-->
                <section class="g-form-section">
                    <label for="title">
                        <span class="g-form-required"
                              translate>NEW_COMMON.TITLE_LABEL</span>:
                    </label>
                    <input id="title"
                           type="text"
                           class="g-form-field"
                           [class.g-validation]="submitted && !form.value.title"
                           formControlName="title"
                           #titleInput>
                    <small class="g-form-error"
                           *ngIf="submitted && !form.value.title &&  form.controls.title.errors.required"
                           translate>VALIDATION.REQUIRED</small>
                </section>

                <!--DESCRIPTION-->
                <section class="g-form-section">
                    <label for="description"><span translate>NEW_COMMON.DESCRIPTION_LABEL</span>:</label>
                    <span class="description-wrap">
                <textarea id="description"
                          class="description"
                          formControlName="description"></textarea>
                </span>
                </section>

                <!--IMG-->
                <section class="g-form-section img-section">

                    <!--buttons-->
                    <div class="uploader-buttons"
                         [class.with-image]="form.value.imgUrl">

                        <label for="img"
                               class="add-img-btn-label">
                            <span class="g-btn"
                                  *ngIf="form.value?.imgUrl; else withoutImage"
                                  translate>MAIN.CHANGE_IMAGE</span>

                            <ng-template #withoutImage>
                                <span class="g-btn g-form-required"
                                      [class.g-img-validation]="submitted && !form.value.imgUrl"
                                      translate>MAIN.ADD_IMAGE</span>
                            </ng-template>
                            <br>
                            <small class="g-form-error"
                                   *ngIf="submitted && !form.value.imgUrl &&  form.controls.imgUrl.errors.required"
                                   translate>VALIDATION.REQUIRED</small>
                        </label>

                        <div *ngIf="form.value.imgUrl">
                            <div (click)="clearImg()"
                                 class="g-btn g-btn-error"
                                 translate>MAIN.CLEAR_IMAGE
                            </div>
                        </div>
                        <span></span>
                    </div>

                    <!--img fields-->
                    <input class="g-display-none"
                           id="img"
                           accept="image/*"
                           type="file"
                           (change)="addImage($event)">
                    <input type="hidden"
                           formControlName="imgData">
                    <img [src]="form.value.imgUrl"
                         alt=""
                         class="img">
                    <input type="hidden"
                           formControlName="imgUrl">
                </section>

                <!--TARGET GROUPS-->
                <section class="g-form-section">
                    <label><span translate>NEW_COMMON.TARGET_GROUPS_LABEL</span>:</label>
                    <div class="option-item"
                         *ngIf="targetGroupsService.targetGroups?.length > 1">
                        <app-inline-search [(search)]="targetGroupSearch"></app-inline-search>
                    </div>
                    <div class="option-list">

                        <ng-container *ngIf="targetGroupsService.targetGroups?.length; else noTargetGroups">
                            <div class="option-item"
                                 *ngFor="let targetGroup of targetGroupsService.targetGroups | inlineSearch:targetGroupSearch:['title']">
                                <app-check-option [canEdit]="false"
                                                  [canAdd]="true"
                                                  [(optionValue)]="targetGroup.title"
                                                  (onCheck)="toggleTargetGroup($event, targetGroup)">
                                </app-check-option>
                            </div>
                        </ng-container>
                        <ng-template #noTargetGroups>
                            <span translate>PLACEHOLDER.EMPTY</span>
                        </ng-template>

                    </div>
                </section>
            </form>
        </div>
    </div>
</div>
