<div class="new-box">
    <div class="g-top-page">
        <h1 class="g-h1-title"
            translate>NEW_BOX.DEFAULT_TITLE</h1>

        <app-panel-control>
            <ng-container right>
                <button (click)="cancelAdding()"
                        class="g-btn-small g-btn-error"
                        translate>NEW_COMMON.CANCEL_ADDING
                </button>
            </ng-container>
        </app-panel-control>
    </div>
    <div class="wrapper">
        <div class="content">
            <form [formGroup]="form"
                  (ngSubmit)="saveBox()">

                <!--TITLE-->
                <section class="g-form-section">
                    <label for="title"><span translate>NEW_COMMON.TITLE_LABEL</span>:</label>
                    <input id="title"
                           type="text"
                           formControlName="title"
                           #titleInput>
                </section>

                <!--DESCRIPTION-->
                <section class="g-form-section">
                    <label for="description"><span translate>NEW_COMMON.DESCRIPTION_LABEL</span>:</label>
                    <span class="description-wrap">
                <textarea id="description"
                          class="description"
                          formControlName="description"></textarea>
                </span>
                </section>

                <!--IMG-->
                <section class="g-form-section img-section">
                    <div class="uploader-buttons"
                         [ngClass]="{'with-image' : imgUrl}">

                        <label for="img"
                               class="add-img-btn-label">
                        <span class="g-btn"
                              *ngIf="!form.value?.img; else withImage"
                              translate>MAIN.ADD_IMAGE</span>
                            <ng-template #withImage>
                        <span class="g-btn"
                              translate>MAIN.CHANGE_IMAGE</span>
                            </ng-template>

                        </label>

                        <input class="g-display-none"
                               id="img"
                               accept="image/*"
                               type="file"
                               (change)="addImage($event)">
                        <input type="hidden"
                               formControlName="img">

                        <span *ngIf="imgUrl">
                        <button (click)="clearPreview()"

                                class="g-btn g-btn-error"
                                translate>MAIN.CLEAR_IMAGE
                        </button>
                    </span>
                        <span></span>
                    </div>

                    <img [src]="imgUrl"
                         alt=""
                         class="img">
                </section>

                <!--TARGET GROUPS-->

                <section class="g-form-section">
                    <label><span translate>NEW_COMMON.TARGET_GROUPS_LABEL</span>:</label>
                    <div class="option-list"
                         *ngIf="targetGroupsService.targetGroups?.length">
                        <div class="option-item"
                             *ngFor="let targetGroup of targetGroupsService.targetGroups">
                            <app-check-option [canEdit]="false"
                                                 [canAdd]="true"
                                                 [(optionValue)]="targetGroup.title"
                                                 (onCheck)="toggleTargetGroup($event, targetGroup)">
                            </app-check-option>
                        </div>
                    </div>
                </section>

                <section class="g-form-section">
                <span>
                    <button class="g-btn g-btn-success"
                            type="submit"
                            translate>NEW_BOX.SAVE_BOX</button>
                </span>
                </section>
            </form>

        </div>
    </div>
</div>