.menu-list {
    list-style: none;
}

.item {
    padding-left: 0;
    margin-bottom: 16px;
}

.item-link {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    //text-decoration: none;
    border: none;

    &.active {
        color: red;
    }
}

.menu-sub-list {

}

.sub-item {

}

.sub-item-link {

}


