<ul class="menu-list">
    <!--todo *** implement nested menu-->
    <li *ngFor="let item of menuService.menu"
        class="item">
        <a href="#"
           class="item-link"
           [routerLinkActive]="'active'"
           [routerLinkActiveOptions]="{exact: true}"
           [routerLink]="item.path"
           (click)="goTo($event, item)"
           translate>{{item.title}}</a>
        <ul *ngIf="item?.children?.length"
            class="menu-sub-list">
            <li *ngFor="let subItem of item.children"
                class="sub-item">
                <a href="#"
                   class="sub-item-link"
                   [routerLinkActive]="'active'"
                   [routerLinkActiveOptions]="{exact: true}"
                   [routerLink]="subItem.path"
                   (click)="goTo($event, subItem)"
                   translate>{{subItem.title}}</a>
            </li>
        </ul>
    </li>
</ul>
