.menu-content {
    list-style: none;
}

.menu-item {
    padding-left: 0;
    margin-bottom: 16px;
}

.menu-link {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    //text-decoration: none;
    border: none;

    &.active {
        color: red;
    }
}
