<div class="not-found">
    <h1 class="g-h1-title title">404</h1>
    <div class="content">
        <h2 class="g-h2-title">That page is missing</h2>

        <p>Please, go to <a href="#"
                            class="g-link"
                            (click)="goHome($event)">Main page</a>, or <a href="#"
                                                                          class="g-link"
                                                                          (click)="goBack($event)">Go back</a></p>
    </div>

</div>
