@import "src/styles/variables";

.settings {

}

.label {
    margin-right: 8px;
}

.select {
    padding: 8px;
    font-size: 1rem;
    color: var(--color-app_text);
}

.form-section {
    margin-bottom: 30px;
}