<div class="g-page settings">
    <div class="g-top-page">
        <h1 class="g-h1-title"
            translate>BREADCRUMB.SETTINGS</h1>
    </div>
    <div class="content">
        <form>
            <!--ACCOUNT-->
            <h2 class="g-h2-title"
                translate>SETTING.ACCOUNT.TITLE</h2>
            <section class="g-form-section">

            </section>

            <!--NOTIFICATIONS-->
            <h2 class="g-h2-title"
                translate>SETTING.NOTIFICATIONS.TITLE</h2>
            <section class="g-form-section">

            </section>

            <!--WARNING INTERVAL-->
            <h2 class="g-h2-title"
                translate>SETTING.WARNING_INTERVAL.TITLE</h2>
            <section class="g-form-section">
                <label for="interval"
                       translate>SETTING.WARNING_INTERVAL.LABEL</label>
                <input id="interval"
                       type="range"
                       min="1"
                       max="30"
                       [value]="settingsService.warningInterval"
                       (input)="changeInterval($event)">
                <span [translateParams]="{daysCount: settingsService.warningInterval}"
                      translate>SETTING.WARNING_INTERVAL.IN_DAYS</span>
            </section>

            <!--LANGUAGE-->
            <h2 class="g-h2-title"
                translate>SETTING.LANGUAGE.TITLE</h2>
            <section class="g-form-section">
<div>currentLanguage {{currentLanguage}}</div>
                <label class="label"
                       for="languageSelection"
                       translate>SETTING.LANGUAGE.LABEL</label>
                <select class="select"
                        id="languageSelection"
                        [value]="currentLanguage"
                        (change)="selectLanguage($event)">
                    <option value="ru"
                            translate>SETTING.LANGUAGE.LIST.RU
                    </option>
                    <option value="en"
                            translate>SETTING.LANGUAGE.LIST.EN
                    </option>
                </select>
            </section>

            <!--COLOR THEME-->
            <h2 class="g-h2-title"
                translate>SETTING.COLOR.TITLE</h2>
            <section class="g-form-section">

                <label class="label"
                       for="themeSelection"
                       translate>SETTING.COLOR.LABEL</label>
                <select class="select"
                        id="themeSelection"
                        [value]="currentColor"
                        (change)="selectTheme($event)">
                    <option value="red"
                            translate>SETTING.COLOR.LIST.RED
                    </option>
                    <option value="green"
                            translate>SETTING.COLOR.LIST.GREEN
                    </option>
                    <option value="blue"
                            translate>SETTING.COLOR.LIST.BLUE
                    </option>
                    <option value="yellow"
                            translate>SETTING.COLOR.LIST.YELLOW
                    </option>
                    <option value="orange"
                            translate>SETTING.COLOR.LIST.ORANGE
                    </option>
                </select>
            </section>

            <!--IMPACT TYPES-->
            <h2 class="g-h2-title"
                translate>SETTING.IMPACT_TYPES.TITLE</h2>
            <section class="g-form-section">
                <div class="new-option-wrap">
                    <app-new-option [errorMessages]="impactErrors"
                                    (onAdd)="addImpactType($event)"></app-new-option>
                </div>
                <div class="option-item"
                     *ngIf="impactTypesService.impactTypes?.length > 1">
                    <app-inline-search [(search)]="impactTypeSearch"></app-inline-search>
                </div>
                <div class="option-list">
                    <ng-container *ngIf="impactTypesService.impactTypes?.length; else noImpactTypes">
                        <div class="option-item"
                             *ngFor="let impactType of impactTypesService.impactTypes | inlineSearch:impactTypeSearch:['title']">
                            <app-check-option [(optionValue)]="impactType.title"
                                              (onDelete)="deleteImpactType(impactType)">
                            </app-check-option>
                        </div>
                    </ng-container>
                    <ng-template #noImpactTypes>
                        <div translate>PLACEHOLDER.EMPTY
                        </div>
                    </ng-template>
                </div>
            </section>

            <!--TARGET GROUPS-->
            <h2 class="g-h2-title"
                translate>SETTING.TARGET_GROUPS.TITLE</h2>
            <section class="g-form-section">
                <div class="new-option-wrap">
                    <app-new-option [errorMessages]="targetGroupsErrors"
                                    (onAdd)="addTargetGroup($event)"></app-new-option>
                </div>
                <div class="option-item"
                     *ngIf="targetGroupsService.targetGroups?.length > 1">
                    <app-inline-search [(search)]="targetGroupSearch"></app-inline-search>
                </div>
                <div class="option-list">

                    <ng-container *ngIf="targetGroupsService.targetGroups?.length; else noTargetGroups">
                        <div class="option-item"
                             *ngFor="let targetGroup of targetGroupsService.targetGroups | inlineSearch:targetGroupSearch:['title']">
                            <app-check-option [(optionValue)]="targetGroup.title"
                                              (onDelete)="deleteTargetGroup(targetGroup)">
                            </app-check-option>
                        </div>
                    </ng-container>
                    <ng-template #noTargetGroups>
                        <span translate>PLACEHOLDER.EMPTY</span>
                    </ng-template>
                </div>
            </section>

            <section class="g-form-section">
                <span>
                    <button class="g-btn g-btn-success"
                            type="button"
                            translate>BUTTON.SAVE_CHANGES
                    </button>
                </span>
            </section>

        </form>
    </div>

</div>
