<div class="settings">


	<h1 class="g-h1-title" translate>BREADCRUMB.SETTINGS</h1>

	<h2 translate>SETTING.LANGUAGE_TITLE</h2>

	<label for="languageSelection" translate>SETTING.SELECT_LANGUAGE</label>

	<select id="languageSelection"
			[value]="currentLanguage"
			(change)="selectLanguage($event)">
		<option value="ru" translate>SETTING.LANGUAGE.RU</option>
		<option value="en" translate>SETTING.LANGUAGE.EN</option>
	</select>

	<h2 translate>SETTING.COLOR_THEME_TITLE</h2>

	<form>
		<label for="themeSelection" translate>SETTING.SELECT_THEME</label>
		<select id="themeSelection"
		        [value]="currentColor"
		        (change)="selectTheme($event)">
			<option value="red" translate>SETTING.COLOR.RED</option>
			<option value="green" translate>SETTING.COLOR.GREEN</option>
			<option value="blue" translate>SETTING.COLOR.BLUE</option>
			<option value="yellow" translate>SETTING.COLOR.YELLOW</option>
			<option value="orange" translate>SETTING.COLOR.ORANGE</option>
			<!--<option value="custom" translate>custom</option>-->
		</select>

		<button type="button" translate>BUTTON.SAVE_CHANGES</button>
	</form>
</div>
