@import "src/styles/variables";
:host {
    overflow: auto;
}

.settings {

}

.content {
    width: $container-edit-width;
    max-width: 100%;
    margin:auto;
}

label:not([for="img"]) {
    margin-bottom: $string-padding;
}

.new-option-wrap {
    margin-bottom: $string-padding;
}

.option-list {
    $padding: 10px;
    max-height: ($option-item-height * 5) + ($padding * 2);
    padding: $padding;
    border: 1px solid var(--color-current-40);
    overflow: auto;
}

.option-item {
    margin-bottom: 4px;
}