@import "src/styles/variables";

.settings {

}

.content {
    width: $container-edit-width;
    max-width: 100%;
    margin:auto;
}

.label {

}

.option-list {
    $padding: 10px;
    max-height: ($option-item-height * 5) + ($padding * 2);
    padding: $padding;
    margin-top: $padding * 2;
    border: 1px solid var(--color-current-40);
    overflow: auto;
}

.option-item {
    margin-bottom: 4px;
}