<app-modal-default>
    <div modal-header></div>
    <div modal-body>
        <span class="text">
            Вы действительно хотите удалить коробку "{{modalService.data.title}}"?
            <br>
            Действие необратимо.
        </span>

    </div>
    <div modal-footer>
        <div class="buttons">
            <button class="g-btn g-btn-error"
                    (click)="delete()">Удалить
            </button>
            <button class="g-btn"
                    (click)="cancel()">Отмена
            </button>
        </div>

    </div>
</app-modal-default>