.inline-search {
    position: relative;
    color: var(--color-gray-60);
    
    &__label {
        width: 100%;
    }

    &__input {
        width: 100%;
    }

    &__icon {
        position: absolute;
        right: 10px;
        top: 8px;

        cursor: pointer;
    }
}

