<div class="check-option"
     [ngClass]="{'can-add': canAdd, 'can-edit': canEdit}">
    <label class="checkbox-label g-btn-success"
           *ngIf="canAdd">
        <input type="checkbox"
               class="checkbox-btn"
               [checked]="checked"
               (click)="toggle($event)">
    </label>
    <label>
        <input type="text"
               class="input-field"
               [disabled]="!editedNow"
               [value]="optionValue"
               (keydown)="keypressSave($event)"
               #inputField>
    </label>

    <ng-container *ngIf="canEdit && !editedNow">
        <button class="action-btn g-btn-success"
                (click)="edit()"
                (keydown)="keypressEdit($event)">
            <span class="material-icons option-icon">
                edit
            </span>
        </button>
        <button class="action-btn g-btn-error"
                (click)="delete()"
                (keydown)="keypressDelete($event)">
            <span class="material-icons option-icon">
                delete
            </span>
        </button>
    </ng-container>

    <ng-container *ngIf="editedNow">
        <button class="action-btn g-btn-success"
                (click)="save()"
                (keydown)="keypressSave($event)">
            <span class="material-icons option-icon">
                check
            </span>
        </button>
        <button class="action-btn g-btn-error"
                (click)="cancel()"
                (keydown)="keypressCancel($event)">
            <span class="material-icons option-icon">
                close
            </span>
        </button>
    </ng-container>
</div>
