@import "src/styles/variables";

:host {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.content {
    display: flex;
    justify-content: center;
    width: $container-width * 1.5;
    max-width: 100%;
}