<div class="medicaments">
    <div class="g-top-page">
        <h1 class="g-h1-title"
            translate>BREADCRUMB.MEDICAMENTS</h1>
    </div>
    <div class="content">
        <table class="g-table table">
            <thead>
            <tr>
                <th translate>MEDICAMENTS.TABLE.TITLE</th>
                <th translate>MEDICAMENTS.TABLE.DESCRIPTION</th>
                <th translate>MEDICAMENTS.TABLE.ISSUE_DATE</th>
                <th translate>MEDICAMENTS.TABLE.EXPIRY_DATE</th>
                <th translate>MEDICAMENTS.TABLE.BOX</th>
                <th translate>MEDICAMENTS.TABLE.IMPACT_TYPE</th>
                <th translate>MEDICAMENTS.TABLE.TARGET_GROUP</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let med of medicamentsService.medicaments">
                <td (click)="editMedicament(med)">
                        <span class="img-wrap">
                            {{ med.title }}
                            <br/>
                            <img [src]="med.img"
                                 class="img"
                                 alt=""/>
                        </span>
                </td>
                <td>{{ med.description || '--' }}</td>
                <td>{{ med.issueDate | date: 'longDate':null:currentLanguage }}</td>
                <td>{{ med.expiryDate | date: 'longDate':null:currentLanguage }}</td>
                <td>
                        <span class="img-wrap">
                            <span (click)="editBox(med.boxId)">{{ defineBox(med.boxId)?.title }}</span>
                            <br/>
                            <img alt=""
                                 class="img"
                                 [src]="defineBox(med.boxId)?.img"/>
                        </span>
                </td>
                <td>
                    <ul *ngIf="med.impactTypes?.length; else impactsEmpty">
                        <li *ngFor="let impact of med.impactTypes">
                            {{ impact.title }}
                        </li>
                    </ul>
                    <ng-template #impactsEmpty>
                        --
                    </ng-template>
                </td>
                <td>
                    <ul *ngIf="med.targetGroups?.length; else groupsEmpty">
                        <li *ngFor="let group of med.targetGroups">
                            {{ group.title }}
                        </li>
                    </ul>
                    <ng-template #groupsEmpty>
                        --
                    </ng-template>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
