<div class="medicaments">
    <div class="g-top-page">
        <h1 class="g-h1-title"
            translate>BREADCRUMB.MEDICAMENTS</h1>
    </div>
    <div class="content">
        <table class="g-table table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Issue date</th>
                <th>Expiry date</th>
                <th>Box</th>
                <th>Impact type</th>
                <th>Target Groups</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let med of medicamentsService.medicaments">
                <td>{{med.title}}</td>
                <td>{{med.issueDate | date:'shortDate':null:currentLanguage}}</td>
                <td>{{med.expiryDate | date:'longDate': null: currentLanguage}}</td>
                <td>
                    <span class="box-data">
                        {{defineBox(med.boxId)?.title}}
                        <br>
                        <img alt="" class="box-data__img" [src]="defineBox(med.boxId)?.img" style="max-width: 100px; max-height: 100px;">
                    </span>
                </td>
                <td>
                    <ul *ngIf="med.impactTypes?.length; else impactsEmpty">
                        <li *ngFor="let impact of med.impactTypes">
                            {{impact.title}}
                        </li>
                    </ul>
                    <ng-template #impactsEmpty>
                        --
                    </ng-template>
                </td>
                <td>
                    <ul *ngIf="med.targetGroups?.length; else groupsEmpty">
                        <li *ngFor="let group of med.targetGroups">
                            {{group.title}}
                        </li>
                    </ul>
                    <ng-template #groupsEmpty>
                        --
                    </ng-template>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

</div>
