<div class="new-box">
    <div class="g-top-page">
        <h1 class="g-h1-title"
            translate>NEW_BOX.DEFAULT_TITLE</h1>

        <app-panel-control>
            <ng-container right>
                <button (click)="cancelAdding()"
                        class="g-btn-small g-btn-error">Cancel Adding
                </button>
            </ng-container>
        </app-panel-control>
    </div>

    <div class="content">
        <form [formGroup]="form"
              (ngSubmit)="saveBox()">

            <!--TITLE-->
            <section class="g-form-section">
                <label for="title"><span>Title</span>:</label>
                <input id="title"
                       type="text"
                       formControlName="title">
            </section>

            <!--DESCRIPTION-->
            <section class="g-form-section">
                <label for="description"><span>Description</span>:</label>
                <span class="description-wrap">
                <textarea id="description"
                          class="description"
                          formControlName="description"></textarea>
                </span>
            </section>

            <!--IMG-->
            <section class="g-form-section img-section">
                <div>
                    <label for="img"
                           class="add-img-btn-label">
                        <span class="g-btn">{{form?.value?.img ? 'Change image' : 'Add image'}}</span>
                    </label>

                    <input class="add-img-btn"
                           id="img"
                           accept="image/*"
                           type="file"
                           (change)="addImage($event)">
                    <input type="hidden"
                           formControlName="img">
                    <button (click)="clearPreview()"
                            *ngIf="imgUrl"
                            class="g-btn g-btn-error">Clear image
                    </button>
                </div>

                <img [src]="imgUrl"
                     alt=""
                     class="img">
            </section>

            <!--TARGET_GROUPS-->
            <section class="g-form-section">
                <label for="groups"><span>Target Groups</span>:</label>
                <select id="groups"
                        formControlName="place">
                    <option value="1">От головы</option>
                    <option value="2">От горла</option>
                    <option value="3">Обезбаливающее</option>
                    <option value="4">Антисептик</option>
                    <option value="5">Слабительное</option>
                </select>
            </section>

            <section class="g-form-section">
                <span>
                    <button class="g-btn g-btn-success"
                            type="submit">Save Box</button>
                </span>
            </section>
        </form>

    </div>

</div>