<div class="new-box">
    <div class="g-top-page">
        <h1 class="g-h1-title"
            translate>New Box</h1>
        <app-panel-control>
            <!--<ng-container slot="forLeft">sort, filter, view</ng-container>
            <ng-container slot="forCenter">search</ng-container>-->
            <ng-container slot="forRight">
                <button (click)="cancelAdding()" class="g-btn-small g-btn-error">Cancel Adding</button>
            </ng-container>
        </app-panel-control>
    </div>

</div>