@import "src/styles/variables";

:host {
    overflow: auto;
}

.content {
    margin: auto;
    width: $container-edit-width;
    max-width: 100%;
}

.description {
    //resize: none;
    height: 4rem;
    min-height: 4rem;
    max-height: 8rem;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}

.description-wrap {
    overflow: hidden;
}

.img-section {
    grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
    grid-row-gap: $cell-padding/2;
}

.add-img-btn {
    display: none;
}

.add-img-btn-label {
    margin-right: $string-padding;
}

.img {
    max-width: 100%;
    max-height: 340px;
}
