<div class="tile">

    <!--BUTTONS-->
    <div class="buttons">
        <button class="tile-btn">
            <span class="material-icons">edit</span>
        </button>
        <button class="tile-btn">
            <span class="material-icons"
                  (click)="deleteBox(box)">delete</span>
        </button>
    </div>

    <!--TITLE-->
    <div class="top-panel">
        <h3 class="title">{{box.title}}</h3>

    </div>

    <!--IMG-->
    <div class="section section--img">
        <img class="img"
             src="{{box.img}}"
             alt="{{box.title}}">
    </div>

    <!--DESCRIPTION-->
    <div class="section">
        <div class="sub-title"><span translate>DASHBOARD.TILE.DESCRIPTION</span>:</div>
        <p class="description">{{box.description}}</p>
    </div>

    <!--QUANTITY-->
    <div class="section"
         *ngIf="box.medicamentsId?.length">
        <div class="sub-title"><span translate>DASHBOARD.TILE.QUANTITY</span>:</div>
        <ng-container>
            <ul class="groups-list">
                <li class="description groups-item">
                    <span translate>DASHBOARD.TILE.TOTAL</span>: <span class="count">
                        {{box.medicamentsId?.length}}
                    </span>
                </li>
                <li class="description groups-item"
                    *ngIf="onTheVerge">
                    <span translate>DASHBOARD.TILE.ON_THE_VERGE</span>:
                    <span class="count on-the-verge">{{onTheVerge}}</span>
                </li>
                <li class="description groups-item"
                    *ngIf="overdue">
                    <span translate>DASHBOARD.TILE.OVERDUE</span>: <span class="count overdue">{{overdue}}</span>
                </li>
            </ul>
        </ng-container>
    </div>

    <!--GROUPS-->
    <div class="section"
         *ngIf="box.targetGroups?.length">
        <div class="sub-title"><span translate>DASHBOARD.TILE.GROUPS</span>:</div>
        <ul class="groups-list">
            <li *ngFor="let group of box.targetGroups; let last = last"
                class="description groups-item">{{group.title}}
                <ng-container *ngIf="!last">,</ng-container>
            </li>
        </ul>
    </div>

    <!--STRETCH-->
    <div class="section">
    </div>
</div>