<div class="tile">
    <h3 class="title">{{box.title}}</h3>

    <div class="section section--img">
        <img class="img"
             src="{{box.img}}"
             alt="{{box.title}}">
    </div>
    <div class="section">
        <div class="sub-title"><span translate>DASHBOARD.TILE.PLACE</span> :</div>
        <span class="description">{{box.place}}</span>
    </div>
    <div class="section">
        <div class="sub-title"><span translate>DASHBOARD.TILE.DESCRIPTION</span>:</div>
        <p class="description">{{box.description}}</p>
    </div>
    <div class="section">
        <ng-container *ngIf="box.medicaments?.length">
            <div class="sub-title"><span translate>DASHBOARD.TILE.MEDICAMENTS</span>:</div>
            <p class="description">{{box.medicaments?.length}}</p>
        </ng-container>
    </div>
    <div class="section">
        <div class="sub-title"><span translate>DASHBOARD.TILE.GROUPS</span>:</div>
        <ul class="groups-list"
            *ngIf="box.groups?.length">
            <li *ngFor="let group of box.groups; let last = last"
                class="description">{{group}}
                <ng-container *ngIf="!last">,</ng-container>
            </li>
        </ul>
    </div>
    <div class="section">
    </div>
</div>